body {
	background-color: rgb(104, 187, 285);
}
	
#head_title {
	font-size: 22px;
	color: #FFFFFF;
	font-family: arial;
}
#left-box {
	background-color: rgb(9, 30, 45);
	color: #FFFFFF;
	float: left;
}
#right-box {
	clear: left;
	position: right;
}
